*{margin: 0; padding: 0;}
*,*::before, *::after{box-sizing: border-box;}
a{ color: black;}
a:hover{text-decoration: none; color: black;}
p{margin-bottom: 0;}
ul{list-style: none; margin: 0;}

.container{ max-width: 1200px;}

.search .title-search{ display: flex; font-size: 16px; justify-content: center; margin-top: 10px; font-weight: 500; text-transform: uppercase;}
.input-search{ display: flex; align-items: center; justify-content: space-around;}

/* select website */
.input-search{ margin-top: 30px;}
.title-pick > h4, .title-pick > label{ font-size: 13px; font-weight: normal; font-weight: 500;}
.pick_website_select{ outline: none; width: 200px; height: 100%;}
.select2-result-website { display: flex;}
.select2-result-website__icon img{ width: 30px; padding-right: 10px;}
.pick_website_container .selection img{width: 7%; }
.select2-selection__placeholder{ font-size: 12px;}
.select2-selection__rendered > span > span{ font-size: 12px;  margin-left: 10px;}
.select2-selection__rendered > span{ display: flex; align-items: center;}

.pick_service_gr_select{width: 200px;}
.select2-selection__rendered{ font-size: 12px;}
.pick_service_gr_container{ margin-left: 15px;}

.form-group-fix > input{ height: 29px;}
.form-group-fix > input::placeholder{ font-size: 12px;}
.form-group-fix > label{ font-size: 12px; font-weight: 500;}
.text-input-search{ margin-left: 15px; margin-top: 6px;}
.select-search > label{ font-size: 12px; font-weight: 500;}
.select-search{ margin-left: 15px;}
.nice-select{ max-width: 150px !important;  float: none !important; }

#btn-search, #btn-clear{ outline: none; margin: 0; padding: 2px 15px; font-size: 11px; border-radius: 2px;}
#btn-clear{ margin-left: 10px;}
.btn-group{ margin-top: 30px;}
#btn-search:focus, #btn-clear:focus{ outline: none; box-shadow: none;}

.btn-modal-show{display: flex; align-items: center; cursor: pointer; margin-top: 40px; margin-left: 40px;}
.btn-modal-show > p{ font-size: 13px; margin-left: 5px;}
.btn-modal-show > i{ font-size: 13px;}
.btn-modal-show:focus{ box-shadow: none;}
.close{ outline: none !important;}

.pick_service_gr_container.add{ padding: 0;}
.form-group label{ font-size: 12px; font-weight: 500;}
#service_description, #service_description_update{ height: 150px;}
.modal-footer > button{ font-size: 13px; justify-content: flex-start;}

.line{height: 2px;  background-color: black; width: 100%; margin-top: 50px;}

.title-list-service { display: flex; justify-content: center; margin: 30px 0px;}
.title-list-service > p{ font-size: 16; font-weight: 500; text-transform: uppercase;}
.list-service .table > thead > tr > th{ font-size: 13px; border-top: none;} 
.list-service .table > thead { border-top: none;}

.btn-status,.btn-edit{ border-radius: 2px; padding: 0.5px 8px; color: white; font-size: 12px;}
.btn-status:focus, .btn-edit:focus{ box-shadow: none !important; outline: none;}
.btn-edit:focus{ color: white;}
.btn-edit:hover{ color: white;}
.btn-status{ width: 90px;}
/* loading */
.loader-container{position: fixed; width: 100%; height: 100%; z-index: 100000; background-color: rgba(0, 0, 0, 0.3); display: none; justify-content: center; align-items: center;}
.loader { border: 16px solid #f3f3f3; border-top: 16px solid hsl(204, 70%, 53%); border-radius: 50%; width: 120px; height: 120px; animation: spin 2s linear infinite; z-index: 200000;}
@keyframes spin { 0%   { transform: rotate(0deg); } 
                  100% { transform: rotate(360deg);} }

/*show alert  */
.alert-message{ position: fixed; right: 50px; width: 30%; z-index: 9999}
.alert-message > button{ outline: none;}
.alert-message > button > span{ font-size: 14px;}
.alert-heading{ font-size: 16px; font-weight: 400; margin: 0 0 5px 0;}
.message{ font-size: 14px; font-weight: 400;}
.modal-content { width: 1000px; left: -250px !important;}

.customs-file{ display: flex; flex-wrap: wrap; margin-bottom: 15px;}
.input-image-container{ width: 100px; height: 100px; margin: 10px 10px; position: relative;}
.input-image-container p{ text-align: center; margin-bottom: 5px;}
.input-image-container i{ color: green; position: absolute; top: 0; right: 0; display: inline-block;margin-top: 5px; margin-right: 5px; font-size: 20px; cursor: pointer; display: none; z-index: 1000;}
.input-image{ border: dashed 1px blue; width: 100px; height: 100px; cursor: pointer; display: flex; justify-content: center; align-items: center; z-index: 10;}
.input-image img{ width: 100px; height: 100px; display: none;}
.input-image:hover{ opacity: 0.3;}
.form-input-image{ display: none !important;}